/#
<html leng="eng">
<head>
	<title> welcome to recenzor </title>
	<link rel="stylesheet" type="text/css" href={{url_for("static",filename="css/main.css")}}>
</head>

<body>
<header>
	<h1> RECENZOR </h1>
</header>

<nav>
	<ul class=nav>
		<li><a href="#">PRIDAJ</a></li>
		<li><a href="#">NAJDI</a></li>
		<li><a href="#">ADMIN</a></li>
</nav>

<main>
	<blockquote>
		keď môžeš pridať recenziu na podnik alebo iné miesto, prečo nie na konkrétnu osobu?
	</blockquote>
</main>

<footer>	
	<p>
	 (c) marsal
	</p>
</footer>

</body>

</html>